<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of comments</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons, .persons td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Persons:</h1>

<table class="persons">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}" th:object="${comment}">
        <td th:text="*{id}">1</td>
        <td th:text="*{description}">John Doe</td>
        <td>
            <a href="edit.html" th:href="@{/edit(id=${comment.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
